#welcome_content,
#more_info {
  padding: 0 25% 5% 25%;
  text-align: left;
  width: 100%;
}
#more_info{
  display: none;
}
#special_link {
  text-align: center;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  color: blue;
}

.disabled_info_text {
  padding-left: 25%;
  padding-top:2%;
}
