<div class="container">
  <h1 id="welcome_content">Hi, my name is Vijay Vadlamani and I am a Frontend - Developer</h1>
  <h1 id="more_info">I can make your website pixel perfect using the latest technologies like Angular & React</h1>
  <a href="#" id="special_link" >What makes you so special?</a>
  <div class="disabled_info_text">
    <a href="#">Tap link above to read more</a>
  </div>
</div>
